body {
	background-color: #a8dadc;
}

	header {
		color: #05668d;
		text-align: center;
		font-family: Georgia, serif;
		font-size: large;
	}
	
	h1 {
		background-color: #e0fbfc;
		margin-left: 80px;
		margin-right: 80px;
		padding: 0.15em;
	}
	
	figure {
		text-align: center;
		font-family: Verdana, Geneva, sans-serif;
		font-size: small;
		font-style: italic;
		line-height: 1.5;
		padding-bottom: 25px;
	}
	
	main {
		margin-left: 180px;
		margin-right: 180px;
		text-align: justify;
		font-family: Verdana, Geneva, sans-serif;
		color: #3d5a80;
		font-size: large;
	}

	li {
		line-height: 1.7;
	}

	.title {
		font-weight: bold;
		color: #1D3557;
	}
		
	dt {
		font-weight: bold;
		color: #1D3557;
		padding: 0.5em;
		}

	hr {
		margin-left: 80px;
		margin-right: 80px;
	}
	
	 footer {
		 text-align: center;
		 font-family: Georgia, serif; 
		 font-style: italic;
		 color: #3d5a80;
		 line-height: 1.5;
	}

	nav {
		text-align: center;
		font-family: Verdana, Geneva, sans-serif;
		font-size: medium;
		font-style: normal;
	}
	

a:link {text-decoration: none;
		color: #e26d5c;}
a:visited {text-decoration: none;
		   color: #e26d5c;}
a:hover {text-decoration: none;
		 color: gray;}
a:active {text-decoration: none;
		  color: #e26d5c;}
		  
		  
