	
body {
	background-color: #B0E0E6;
}
	
		h1, h2 {
			text-align: center;
			font-family: Georgia;
			color: #3366cc;
		}
	
	nav {
		text-align: center;
		font-family: verdana;
		font-size: small;
	}
	
	main {
		margin-left: 180px;
		margin-right: 180px;
		text-align: justify;
		font-size: 100%;
		font-family: verdana;
	}
	
		dt {
			font-weight: bold;
			color: #4682B4;
			padding: 0.5em;
		}
 
		dd {
			color: #191970;
		}
 
	footer {
		text-align: center;
		font-family: verdana;
		font-size: small;
		font-style: italic;
		color: #3366cc;
	}
	
	hr {
		margin-left: 150px;
		margin-right: 150px;
	}

a:link {color: #f7786b;}
a:visited {color: #f7786b;}
a:hover {color: gray;}
a:active {color: #f7cac9;}